# Angular CLI / build artifacts
/node_modules
/dist
/dist-out
/.angular
/.cache
*.tsbuildinfo

# IDEs
/.idea
/.vscode
*.iml

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
/src/environments/environment.prod.ts
.env
.env.local

# OS
.DS_Store
Thumbs.db
