# ---------- Azure AD ----------
REACT_APP_AZURE_CLIENT_ID=<16dae241-a6f8-4d9b-aa0e-e6d4d622a87c>
REACT_APP_AZURE_TENANT_ID=<TENANT_ID>
REACT_APP_AZURE_REDIRECT_URI=http://localhost:3000
REACT_APP_API_SCOPE=api://<a76bc476-03c2-44df-9b0a-d96feaf13465>/access_as_user

# ---------- API ----------
REACT_APP_API_BASE_URL=http://localhost:8080
