# Azure AD (obligatorios)
AZURE_TENANT_ID=b55e6c67-8cd9-4950-950a-dac07c96141f
AZURE_API_CLIENT_ID=a76bc476-03c2-44df-9b0a-d96feaf13465

# PostgreSQL
POSTGRES_USERNAME=digitalfix
POSTGRES_PASSWORD=digitalfix
