# Azure AD (obligatorios)
AZURE_TENANT_ID=
AZURE_API_CLIENT_ID=

# Oracle
ORACLE_USERNAME=pedidos360
ORACLE_PASSWORD=pedidos360

# RabbitMQ
RABBITMQ_USER=pedidos360
RABBITMQ_PASSWORD=pedidos360
RABBITMQ_ERLANG_COOKIE=pedidos360-cookie
