# Azure AD (obligatorios)
AZURE_TENANT_ID=
AZURE_API_CLIENT_ID=

# Oracle
ORACLE_USERNAME=digitalfix
ORACLE_PASSWORD=digitalfix

# RabbitMQ
RABBITMQ_USER=digitalfix
RABBITMQ_PASSWORD=digitalfix
RABBITMQ_ERLANG_COOKIE=digitalfix-cookie
